/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/contact/contact.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.contact_container__cCpH8 {
    display: flex;
    align-items: center;
    gap: 100px;
}

.contact_imgContainer__cVH4m {
    flex: 1 1;
    height: 500px;
    position: relative;
}

.contact_img__Wj1Y3 {
    object-fit: contain;
}


.contact_formContainer__tNTHl {
    flex: 1 1;
}

.contact_form___aGjp {
    display: flex;
    flex-direction: column;
    gap: 20px;   
}

.contact_form___aGjp input,
.contact_form___aGjp textarea
{
    padding: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--bgSoft);
    color: var(--text);
}

.contact_form___aGjp button {
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--btn);
    color: var(--text);
    font-weight: bold;
}

@media (max-width: 768px) {
    .contact_container__cCpH8 {
        flex-direction: column;
    }
}
