/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/home.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.home_container__2nSFh {
    display: flex;
    gap: 100px;
}

.home_textContainer__1ljkg {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.home_title__jKRy7 {
    font-size: 50px;
}

.home_desc__ZPff_ {
    font-size: 20px;
}

.home_buttons__Z9C0a {
display: flex;
gap: 20px;
}

.home_button__OGYC6 {
    padding: 20px;
    min-width: 120px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.home_button__OGYC6:first-child {
    background-color: var(--btn);
    color: var(--text);
}

.home_brands__5bIh_ {
    width: 500px;
    height: 50px;
    position: relative;
    filter: grayscale(1);
}

.home_imageContainer__x_YqY {
    flex: 1 1;
    position: relative;
}

@media (max-width: 1024px) {
    .home_container__2nSFh {
        flex-direction: column;
        text-align: center;
    }

    .home_buttons__Z9C0a {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .home_title__jKRy7 {
        font-size: 64px;
    }

    .home_brands__5bIh_ {
        width: 100%;
    }
}
