.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.post {
    width: 30%;
}

@media screen and (max-width: 1280) {
    .post {
        width: 450%;
    }    
}

@media screen and (max-width: 768px) {
    .post {
        width: 100%;
    }    
}